@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

.home{
    background-image: url("women-in-tech.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;


}

h1{
    margin-top: 0%;
    padding-top: 30px;
    font-size: 50px;
    font-family: 'Limelight', cursive;
    text-shadow: rgb(0 0 0 / 100%) 0px 4px 3px, rgb(0 0 0 / 10%) 0px 8px 13px, rgb(0 0 0 / 10%) 0px 18px 23px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member{
   
    padding-left: 90px;
}

h2{
    font-size:30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;
    margin-left:-0px ;
    margin-right: 600px;
    color: rgb(116, 165, 194);

}
h3{
    font-size:25px;
    color: black
}